<div *ngIf="todo" class="todo">
  <div class="top">
    <p *ngIf="todo?.createdAt">{{ todo.createdAt | dateFormat }}</p>
    <button (click)="(removeTodo())">
      <img src="../../../assets/cross-mark-small.png" alt="cross">
    </button>
  </div>

  <div class="botton">
    <div class="todo-content">
      <h3
        [ngStyle]="{
          'text-decoration': todo.status === 'completado' ? 'line-through' : 'none'
        }"
      >
        {{ todo.title }}
      </h3>
      <p
        [ngStyle]="{
          'text-decoration': todo.status === 'completado' ? 'line-through' : 'none'
        }"
      >
        {{ todo.description }}
      </p>
    </div>

    <div class="dropdown-container">
      <app-dropdown
        class="todo-status-dropdown"
        [options]="statusOptions"
        [optionSelected]="optionSelected"
        (onSelect)="changeStatus($event)"
      />
    </div>
  </div>
</div>
